.con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table{
    height: auto;
    width: 100vw;
    border: 2px solid black;
    border-collapse: collapse;
}
tr{
    width: 100%;
    border: 2px solid black;
}